{% extends 'base.html' %}

{% block title %}
    Post Detail View
{% endblock %}

{% block content %}
<h1 class="ms-2">Post {{single_post.id}}</h1>
<div class="container ms-3">
    <h2>{{single_post.title}}</h2>
    <h5>{{single_post.subtitle}}</h5>
    <strong>Created on: {{single_post.created_on}}</strong>
    <p>{{single_post.body}}</p>
    <p>{{single_post.author}}</p>
    <br>
    <a href="{% url 'post_edit' single_post.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'post_delete' single_post.id %}" class="btn btn-danger">Delete</a>
</div>
{% endblock %}