{% extends 'base.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">The Idea Behind Ctrl - Alt - Think</h1>
        <p>Ctrl Alt Think exists because thinking deserves a reset once in a while. This is a personal blog and project log for exploring ideas before they’re polished—writing through questions, experiments, and lessons learned along the way. It’s less about having the right answers and more about slowing down, paying attention, and sharing the process of figuring things out.</p>
    </div>
{% endblock %}