{% extends 'base.html' %}
{% load static %}

{% block title %}
    About Me
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>About Me</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit maiores architecto tenetur quibusdam aut facere, necessitatibus eius ex similique accusamus laborum quod. Voluptatum vitae facere quibusdam in. Pariatur, commodi eligendi!</p>
    </div>
{% endblock %}