{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Ctrl - Alt - Think</h1>
        <p>Ctrl Alt Think is a space for pausing the noise, rebooting assumptions, and thinking out loud. It’s where half-formed ideas, side projects, and hard questions get room to breathe. No hot takes for the algorithm—just clear thinking, honest experiments, and notes from the process of building, learning, and occasionally starting over.</p>
    </div>
{% endblock %}